<!doctype html>
<html>

<head>
<style>
    /* CSS for navigation bar */
    ul {
        list-style-type: none;
        margin: 10;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    li a:hover:not(.active) {
        background-color: #111;
    }
</style>

<title>This is the about page!</title>
</head>

<body>

    <!-- Navigation bar -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="addDevices">Add a device</a></li>
        <li><a href="update">Update device</a></li>
        <li><a href="deleteDevice">Delete devices</a></li>
        <li><a href="yourDevices">View all devices</a></li>
    </ul>

    <!-- Introduction and instructions for users -->
    <h1> Welcome to MySmartHome! </h1>
    <p> I, V Rajasuvedha, have developed MySmartHome for you to manage your smart devices! </p>
    <p> You may start by adding new devices of your own by clicking the 'Add a device' link. </p>
    <p> Or you may choose from a list of devices we have provided in our catalog to be added into your list of devices! </p>
    <p> You can update any of the devices in the 'Update device' link. </p>
    <p> You may also delete any of your devices in the 'Delete devices' link. </p>
    <p> You can then view the devices in the 'View all devices' link! </p>
    <p> Have fun managing your smart devices for a smart lifestyle! </p>

</body>

</html>