<!doctype html>
<html>

<head>
<style>
    /* CSS for navigation bar */
    ul {
        list-style-type: none;
        margin: 10;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li { float: left; }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
    }
    li a:hover:not(.active) {
        background-color: #111;
    }
</style>

<title>This is the home page!</title>
</head>

<body>

    <!-- Navigation bar -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="addDevices">Add a device</a></li>
        <li><a href="update">Update device</a></li>
        <li><a href="deleteDevice">Delete devices</a></li>
        <li><a href="yourDevices">View all devices</a></li>
    </ul>

    <!-- Displaying of name of web application. -->
    <h1> Welcome to MySmartHome! </h1>
    <p>Get started with a smart living by clicking the 'About' link!</p>

</body>

</html>